
  
:root {
    --cor-fundo-geral: #FFEAEC;
    --cor-fundo-login: #FFFFFF;
    --cor-rosa-escuro: #F39A9D;
    --estilo-fonte-geral: arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: var(--cor-fundo-geral);
    font-family: var(--estilo-fonte-geral);
}
.cabecalho {
    background-color: var(--cor-fundo-geral);
    display: flex;
    justify-content: space-between;
}
    .cabecalho__sair {
        color: var(--cor-rosa-escuro);
        margin: 10px 0 10px 20px;
    }
    .cabecalho__meuperfil {
        color: var(--cor-rosa-escuro);
        margin: 10px 20px 10px 20px;
    }
.principal {
    background-color: var(--cor-fundo-login);
    border-radius: 40px 40px 0 0;
}
    .principal__publicar{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
}
    .publicar__foto {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        margin-right: 10px;
    }
    .publicar__texto {
        height: 38px;
        width: 320px;
        border-radius: 20px;
        border: 0;
        background-color: var(--cor-fundo-geral);
        text-align: left ;
        padding-left: 10px;
    }
    .feed {
        background-color: var(--cor-rosa-escuro);
        border-radius: 40px 40px 0 0;
    }
        .feed__titulo {
            margin: 0;
            text-align: center;
            color: var(--cor-fundo-geral);
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;   
            font-weight: 20;
        }
    .feed__publicacoes{
        padding: 0;
        margin: 0;
    }
        .publicacao {
            list-style-type: none;
            margin: 20px;
            
        }
        .perfil{
            display: flex;
            justify-content: unset;
        }
            .publicacao__perfil{
                height: 40px;
                width: 40px;
                border-radius: 50px;
                margin-right: 10px;
            }
            .publicacao__nome {
                color: var(--cor-fundo-geral);
            }
            .texto__publicado {
                background-color: var(--cor-fundo-geral);
                color: var(--cor-rosa-escuro);
                border-radius: 50px;
                padding: 20px 30px ;
            }
        .post {
            display: flex;
            justify-content: space-between;
            color: var(--cor-rosa-escuro);
            border-radius: 20px;
            margin: 0;
        }
        .reacao {
            margin: 0;
        }
        .publicacao__legenda {
            margin-left: -10px;
        }
        .publicacao__foto {
            display: block;
            margin: 0 auto 10px auto; 
        }
.rodape {
    background-color: var(--cor-rosa-escuro);
}
        .rodape__fim {
            margin: 0;
            color: var(--cor-fundo-login);
            padding: 10px 20px;
            
        }
        .rodape__fim  a {
            color: var(--cor-fundo-login);
            cursor: pointer;
        }
@media(min-width:730px) {
    .principal {
        width:50% ;
       margin: 0 auto;
       margin-bottom: 50px;
       border-radius: 40px;
    }          
        .principal__publicar {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 20px;
            
        } 
            .publicar__texto {
                width: 90%;
            }
            .publicacao__foto {
                width: 90%;
            }
            .feed {
               border-radius: 40px; 
            }

    .rodape {
        background-color: transparent;
    }
    .ajuste__imagem {
        width: 70%;
        margin: 0 auto;
    }
}

